{% extends 'diary/base.html' %}
{% block title %}Diary Entry{% endblock title %}
{% block content %}
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<h1>Diary Entry</h1>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% load widget_tweaks %}
		{% for field in form %}
		<span><small>
		{{ field.errors }}
		</small></span>
		<br>
		{% if field.label == 'Content' %}
		<label>{{ field.label }}</label>
		<br>
		<span>{% render_field field class="content" id="content" %}</span>
		{% else %}
		<label>{{ field.label }}</label>
		<br>
		<span>{{ field }}</span>
		{% endif %}
		{%  endfor %}
		<br>
		<button type="submit">Submit</button>
	</form>
	<script>tinymce.init({
	selector:'textarea',
	setup: function (editor) {
        editor.on('change', function (e) {
            editor.save();
        });
    }
	});</script>
{% endblock content %}