{% extends 'diary/base.html' %}
{% block title %}Delete Entry{% endblock title %}
{% block content %}
<div class = "container">
	<div class="content-section py-5">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Delete Entry
				</legend>
			</fieldset>
			<h2>You Sure You Wanna Delete The Post '{{ entry }}'</h2>
			<div class="form-group">
				<button class="btn btn-outline-danger" type = "submit">Yes, Delete Post</button>
				<button class="btn btn-outline-success" href="{% url 'diary:entry-update' entry.id %}">Cancel</button>
			</div>
		</form>
	</div>   
</div>
{% endblock content %}
