{% extends 'diary/base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}

{% load staticfiles %}
<link rel= "stylesheet" type= "text/css" href = "{% static 'diary/home.css' %}">
<div class="content">
  <div class="jumbotron">
    <h4>{{ user }}'s Joural</h4>
    <p>{{ entries.count }} Entries | Created On {{ user.date_joined }} </p>
    <form method="GET" action="" class="searcher form-group">
      <input type="text" name="q" placeholder="Search Entries" value="{{ request.get.q }}" class="form-control search-txtb">
    </form>
  </div>
  <div class="col-md-9">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td><a href="{% url 'diary:entry-update' entry.id %}">{{ entry.title }}</a></td>
          <td><a href="{% url 'diary:entry-update' entry.id %}">{{ entry.date }}</a></td>
        </tr>
    {% endfor %}
    </tbody>  
  </table>
<div class="pagination">
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
</div>
  </div>
</div>
{% endblock content %}