{% extends 'diary/base.html' %}
{% block title %}Archlight{% endblock %}
    {% block content %}
	<div class = "container">
		<div class="content-section py-5">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
						Password Reset
					</legend>
					{{ form }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type = "submit">Request Reset Password</button>
				</div>
			</form>
		</div>   
	</div>

{% endblock content %}