{% extends 'diary/base.html' %}
{% block title %}Diary Entry{% endblock title %}
{% block content %}
{% load staticfiles %}
<div class="page">
<link rel= "stylesheet" type= "text/css" href = "{% static 'diary/updatepage.css' %}">
<script src="https://cdn.tiny.cloud/1/tqa92zf2lukln0ritoavtb2b9ospf6898jnd0senmv5ahfk9/tinymce/5/tinymce.min.js"></script>
	<!-- {% include 'diary/loader.html' %} -->
	{% include 'diary/sidebar.html' %}
  <br>
	<div class="main-box">
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% load widget_tweaks %}
		{% for field in form %}
		<span><small>
		{{ field.errors }}
		</small></span>
		<br>
		{% if field.label == 'Content' %}
		<span>{% render_field field class="content" id="content" %}</span>
		{% elif field.label == 'Title' %}
		<span>{% render_field field class="title" %}</span>
		<a href="{% url 'diary:entry-delete' object.id %}" class="delete"><i class="fas fa-trash-alt fa-lg"></i></a>
		{% else %}
		<span>{{ field }}</span>
		{% endif %}
		{%  endfor %}
		<br>
		<button type="submit">Submit</button>
	</form>
	</div>
	<script>tinymce.init({
	selector:'textarea',
	branding: false,
	plugins: "autoresize",
	  min_height: 500,
	inline_boundaries: false,
	setup: function (editor) {
        editor.on('change', function (e) {
            editor.save();
        });
    }
	});
	</script>
</div>
{% endblock content %}