{% extends 'diary/base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock title %}
{% block content %}

{% load staticfiles %}
<link rel= "stylesheet" type= "text/css" href = "{% static 'users/signin.css' %}">

    <div id="login-box">
        <div class="left-box">
                <h1>Login</h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <small class="text-danger">{{ non_field_error }}</small>
                    {% endfor %}
                    {% for field in form %}
                        {% if field.html_name == "password1" %}
                        {% render_field field class="txtb" placeholder="Password" %}
                        {% elif field.html_name == "password2" %}
                        {% render_field field class="txtb" placeholder="Confirm Password" %}
                        {% else %}
                        {% render_field field class="txtb" placeholder=field.html_name.capitalize %}
                        {% endif %}
                            {% for error in field.errors %}
                                <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    {% endfor %}
                    <input type="submit" value="Sign In" name="signup-button" class="signup-btn">
                </form>
                <div class="login">
                <small class="text-muted">Don't Have An Account Yet?<a href="{% url 'register' %}">Register</a></small>
                </div>
        </div>
        <div class="right-box">
        </div>
    </div>
{% endblock content %}