{% extends 'diary/base.html' %}
{% load widget_tweaks %}
{% block title %}Register{% endblock title %}
{% block content %}

{% load staticfiles %}
<link rel= "stylesheet" type= "text/css" href = "{% static 'users/register.css' %}">

    <div class="login-div">
      <div class="title">Archlight</div>
      <div class="fields">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <small class="error">{{ non_field_error }}</small>
                    {% endfor %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <small class="error">{{ error }}</small>
                    {% endfor %}
                        {% if field.html_name == "password1" %}
                        <div class="password down">{% render_field field class="pass-input" placeholder="Password" %}</div>
                        {% elif field.html_name == "password2" %}
                        <div class="password up">{% render_field field class="pass-input" placeholder="Confirm Password" %}</div>
                        {% elif field.html_name == "username" %}
                        <div class="username bit-up">{%  render_field field class="user-input" placeholder=field.html_name.capitalize %}</div>
                        {% else %}
                        <div class="username">{% render_field field class="user-input" placeholder=field.html_name.capitalize %}</div>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="Sign Up" name="signup-button" class="signup-button">
                </form>
                    <div class="link login"><a href="{% url 'login' %}">Already A Member?</a></div>
        </div>
    </div>
{% endblock content %}